.token {
  font-size: 25px;
  padding-top: 8px;
}

.tokenBtn {
  background-color: transparent;
  border-color: transparent;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  text-align: center;
  font: 100 25px 'Oswald';
  position: absolute;
  right: 10px;
  top: 20px;
  width: 200px;
}

.tokenBtn:hover {
  color: orange;
}
