@import url(//fonts.googleapis.com/css?family=Caveat);
body {
  background-color: rgb(15, 15, 20);
  height: 98vh;
  overflow-x: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.translator-form {
  display: flex;
  position: relative;
  bottom: 150px;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  justify-content: center;
}

.translation-info {
  margin-bottom: 20px;
  text-align: center;
}

.uploaded-image {
  display: inline-block;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  width: 300px;
  position: relative;
  bottom: 140px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.menu-content {
  padding-top: 20px;
  position: relative;
  bottom: 140px;
  color: white;
}

.directions {
  text-decoration: underline;
  text-align: center;
  text-transform: capitalize;
  color: rgb(178, 178, 178);
  font: 400 25px 'Caveat';
}

h3 {
  text-decoration: underline;
}

.icon {
  position: relative;
  width: 100px;
  align-content: center;
  padding-right: 40px;
}

.caution-message{
 text-align: center;
  text-transform: capitalize;
text-decoration:underline
}

