@import url(//fonts.googleapis.com/css?family=Oswald);

.footerBar {
  position: relative;
  background-color: rgb(19, 19, 24);
  text-align: center;
  padding: 20px;
  width: 99.9vw;
  height: 150px;
  top: 185px;
  right: 8px;
  box-shadow: 0px -8px 11px 0px rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: flex-start;
}

.dev {
  font: 500 20px 'Oswald';
  text-decoration: underline;
}

a {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: start;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: orange;
  text-decoration: underline;
}
